   /* width */
   ::-webkit-scrollbar {
      width: 0px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: transparent;

    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #10b981;
      border-radius: 20px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #047857;
    }